figure {
  margin: 0
}

#chart {
  margin: 0 auto 20px auto;
  text-align: center;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 16px sans-serif;
    background: steelblue;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    color: white;
}

h1 {
  margin-bottom: 0;
}

h1, figcaption {
  text-align: center;
  font-family: sans-serif;
}

figcaption {
  max-width: 670px;
  padding: 0 20px;
  margin: auto;
}
