figure {
  margin: 0
}

#chart {
  margin: 0 auto 20px auto;
  text-align: center;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 16px sans-serif;
    background: steelblue;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    color: white;
    width: 150px;
}

div.tooltip.wide {
  width: 200px;
}

h1 {
  margin-bottom: 0;
}

h1, h2, figcaption {
  text-align: center;
  font-family: sans-serif;
}

h2 {
  max-width: 600px;
  margin: auto;
}

small {
  display: block;
  font-size: .6em;
  font-weight: normal;
}

figcaption {
  max-width: 670px;
  padding: 0 20px;
  margin: auto;
}

.label {
  font-family: sans-serif;
}
